.cards {
  & > .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--rh-space-lg, 16px);
  }

  rh-card {
    height: 100%;

    &.image {
      --rh-card-heading-font-weight: var(--rh-font-weight-heading-medium);
      --rh-card-heading-font-size: var(--rh-font-size-heading-md);
      &::part(header) {
        margin: 0;
      }
    
      & img {
        display: block;
        min-width: 100%;
        height: auto;
      }
    
      &.heading {
        & h2 {
          margin-block-start: 0;
          margin-block-end: var(--rh-space-lg);
        }
      }
    }
  }
}