.hero-container {
  --rh-card-heading-font-size: var(--rh-font-size-heading-2xl);
  
  & .hero-wrapper {
    max-width: initial;
  }
}

.hero.block[full-width] {
  background-color: light-dark(var(--rh-color-surface-light, #e0e0e0), var(--rh-color-surface-dark, #383838));
  container: full-width / inline-size;
  display: grid;
  gap: var(--rh-space-lg, 16px);
  grid-auto-rows: max-content;
}